<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/j2ee/dtds/web-app_2_3.dtd">
<web-app>
    <display-name>doi</display-name>

    <servlet>
        <servlet-name>logControl</servlet-name>
        <servlet-class>ca.nrc.cadc.log.LogControlServlet</servlet-class>
        <init-param>
            <param-name>logLevel</param-name>
            <param-value>info</param-value>
        </init-param>
        <init-param>
            <param-name>logLevelPackages</param-name>
            <param-value>
                ca.nrc.cadc.doi
                org.opencadc.vospace
                ca.nrc.cadc.ac
                ca.nrc.cadc.auth
                ca.nrc.cadc.reg
                ca.nrc.cadc.rest
                ca.nrc.cadc.vosi
            </param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>DoiServlet</servlet-name>
        <servlet-class>ca.nrc.cadc.rest.RestServlet</servlet-class>
        <init-param>
            <param-name>init</param-name>
            <param-value>ca.nrc.cadc.doi.DoiInitAction</param-value>
        </init-param>
        <init-param>
            <param-name>get</param-name>
            <param-value>ca.nrc.cadc.doi.GetAction</param-value>
        </init-param>
        <init-param>
            <param-name>put</param-name>
            <param-value>ca.nrc.cadc.doi.PutAction</param-value>
        </init-param>
        <init-param>
            <param-name>post</param-name>
            <param-value>ca.nrc.cadc.doi.PostAction</param-value>
        </init-param>
        <init-param>
            <param-name>delete</param-name>
            <param-value>ca.nrc.cadc.doi.DeleteAction</param-value>
        </init-param>
        <init-param>
            <param-name>ca.nrc.cadc.uws.web.InlineContentHandler</param-name>
            <param-value>ca.nrc.cadc.doi.DoiInlineContentHandler</param-value>
         </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>ca.nrc.cadc.rest.RestServlet</servlet-class>
        <init-param>
            <param-name>init</param-name>
            <param-value>ca.nrc.cadc.doi.DoiInitAction</param-value>
        </init-param>
        <init-param>
            <param-name>post</param-name>
            <param-value>ca.nrc.cadc.doi.SearchAction</param-value>
        </init-param>
        <init-param>
            <param-name>ca.nrc.cadc.uws.web.InlineContentHandler</param-name>
            <param-value>ca.nrc.cadc.doi.SearchInlineContentHandler</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <!-- Servlet that identifies the services provided by doi -->
    <servlet>
        <servlet-name>CapabilitiesServlet</servlet-name>
        <servlet-class>ca.nrc.cadc.rest.RestServlet</servlet-class>
        <init-param>
            <param-name>init</param-name>
            <param-value>ca.nrc.cadc.vosi.CapInitAction</param-value>
        </init-param>
        <init-param>
            <param-name>get</param-name>
            <param-value>ca.nrc.cadc.vosi.CapGetAction</param-value>
        </init-param>
        <init-param>
            <param-name>head</param-name>
            <param-value>ca.nrc.cadc.vosi.CapHeadAction</param-value>
        </init-param>
        <init-param>
            <param-name>input</param-name>
            <param-value>/capabilities.xml</param-value>
        </init-param>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <!-- Servlet that checks the availability status of doi -->
    <servlet>
        <servlet-name>AvailabilityServlet</servlet-name>
        <servlet-class>ca.nrc.cadc.vosi.AvailabilityServlet</servlet-class>
        <init-param>
            <param-name>ca.nrc.cadc.vosi.AvailabilityPlugin</param-name>
            <param-value>ca.nrc.cadc.doi.ServiceAvailability</param-value>
        </init-param>
        <load-on-startup>4</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>DoiServlet</servlet-name>
        <url-pattern>/instances/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CapabilitiesServlet</servlet-name>
        <url-pattern>/capabilities</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AvailabilityServlet</servlet-name>
        <url-pattern>/availability</url-pattern>
    </servlet-mapping>

    <!-- Log control servlet endpoint -->
    <servlet-mapping>
        <servlet-name>logControl</servlet-name>
        <url-pattern>/logControl</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>
